# W200 Project 2:  Bikeshare and Parking Tickets in New York
## Daniel Olmstead

In [2]:
# Imports
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:,.2f}'.format
import matplotlib.pyplot as plt
import datetime
import urllib
import json
import geopandas as gpd
import shapely
import plotly
import plotly.plotly as py
import plotly.graph_objs as go
plotly.tools.set_credentials_file(username='deolmstead', api_key='4uokkfdC04OMnCSRmXI5')

Although I'm only interested in the violations that occur one year to either side of the citibike dock installations (Aug 2016), I need to import three fiscal years' worth of data, due the fact that each "year" has many records outside the fiscal year when it occurs.  So I have to cast a very broad net, and then filter down.  The data sets are very large, so I'm only importing the columns that I need, some of which have mixed datatypes so I'm sure to specify type on import.  It's particularly important to parse the *Issue Date* column, since this analysis hinges on it.  Some of the values in this column are NA or not in the proper format to be parsed, so I just reassign those to 1/1/2000 to be filtered out later.

In [119]:
d = lambda x: pd.datetime.strptime(x, '%m/%d/%Y')

tix16 = pd.read_csv('./data/Parking_Violations_Issued_-_Fiscal_Year_2016.csv',
                  usecols=['Summons Number', 'Issue Date', 'Vehicle Make', 'Vehicle Color', 'House Number', 
                           'Street Name', 'Intersecting Street', 'Violation Time',
                           'Violation County', 'Violation Code', 'Vehicle Body Type'],
                  converters = {'Issue Date': lambda x: '2000-01-01' if x == np.nan else x},
                  dtype={'Summons Number': int, 'Vehicle Make': str, 'Vehicle Color': str, 'House Number': str, 
                           'Street Name': str, 'Intersecting Street': str, 'Violation Time': str,
                           'Violation County': str, 'Violation Code': int, 'Vehicle Body Type': str},
                  index_col=False, parse_dates=['Issue Date'], date_parser=d)

tix17 = pd.read_csv('./data/Parking_Violations_Issued_-_Fiscal_Year_2017.csv',
                  usecols=['Summons Number', 'Issue Date', 'Vehicle Make', 'Vehicle Color', 'House Number', 
                           'Street Name', 'Intersecting Street', 'Violation Time',
                           'Violation County', 'Violation Code', 'Vehicle Body Type'],
                  converters = {'Issue Date': lambda x: '2000-01-01' if x == np.nan else x},
                  dtype={'Summons Number': int, 'Vehicle Make': str, 'Vehicle Color': str, 'House Number': str, 
                           'Street Name': str, 'Intersecting Street': str, 'Violation Time': str,
                           'Violation County': str, 'Violation Code': int, 'Vehicle Body Type': str},
                  index_col=False, parse_dates=['Issue Date'], date_parser=d)

tix18 = pd.read_csv('./data/Parking_Violations_Issued_-_Fiscal_Year_2018.csv',
                  usecols=['Summons Number', 'Issue Date', 'Vehicle Make', 'Vehicle Color', 'House Number', 
                           'Street Name', 'Intersecting Street', 'Violation Time',
                           'Violation County', 'Violation Code', 'Vehicle Body Type'],
                  converters = {'Issue Date': lambda x: '2000-01-01' if x == np.nan else x},
                  dtype={'Summons Number': int, 'Vehicle Make': str, 'Vehicle Color': str, 'House Number': str, 
                           'Street Name': str, 'Intersecting Street': str, 'Violation Time': str,
                           'Violation County': str, 'Violation Code': int, 'Vehicle Body Type': str},
                  index_col=False, parse_dates=['Issue Date'], date_parser=d)

In [120]:
print(tix16.shape)
print(tix17.shape)
print(tix18.shape)

(10626899, 11)
(10803028, 11)
(7679881, 11)

Now I merge these three dataframes into one and drop duplicates.

In [121]:
alltix = pd.concat([tix16,tix17,tix18]).drop_duplicates(subset=['Summons Number']).reset_index(drop=True)
alltix.to_csv('./data/all_tickets.csv')
print(alltix.shape)
alltix.head()

(29106932, 11)

,Summons Number,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Violation Time,Violation County,House Number,Street Name,Intersecting Street,Vehicle Color
0,1363745270,2015-07-09,46,SDN,HONDA,1037A,K,142,MACDOUNGH ST,NaN,WHITE
1,1363745293,2015-07-09,21,SUBN,CHEVR,1206P,K,331,LEXINGTON AVE,NaN,RED
2,1363745438,2015-07-09,21,SDN,ME/BE,0820A,K,1087,FULTON ST,NaN,WHITE
3,1363745475,2015-07-09,21,SUBN,NISSA,0918A,K,207,MADISON ST,NaN,BK
4,1363745487,2015-07-09,21,P-U,LINCO,0925A,K,237,MADISON ST,NaN,BLK

In [122]:
# Filter to dates within one year  of August 2016
alltix = alltix[alltix['Issue Date'] <= datetime.datetime(2017, 8, 31)]
alltix = alltix[alltix['Issue Date'] >= datetime.datetime(2015, 9, 1)]
print("Date filtered:", alltix.shape)

# Filter to violations in Brooklyn
alltix = alltix[alltix['Violation County'] == 'K']
print("County filtered:", alltix.shape)
# Convert streets to lowercase
alltix['Street Name'] = alltix['Street Name'].str.lower()

# Create new dataframe of the intersection with street names
streets = pd.read_csv('./data/bkln_streets.csv', index_col=False)
bktix = pd.merge(alltix, streets, how='inner', on=['Street Name'])
print("Street filtered", bktix.shape)

Date filtered: (21480205, 11)
County filtered: (4435338, 11)
Street filtered (746619, 11)

Now I have a set of almost 750k parking tickets that are candidates for inclusion in my target area, since they have a matching street name.  However, some of those streets are very long and extend outside the target area, so I need to geocode the addresses to be sure.  Running 750k addresses through a geocoding API would take days, though, so first I extract a subset of the unique addresses in the set.

In [125]:
# Make a new Address field that combines House Number and Street Name with the City and State
bktix['Address'] = bktix['House Number'] +' '+ bktix['Street Name']+' Brooklyn NY'
bktix.to_csv('./data/target_streets.csv')

bk_adds = bktix.drop_duplicates(subset='Address')
bk_adds.to_csv('./data/unique_addresses.csv')

In [180]:
print(bk_adds.shape)
bk_adds.head()

(40252, 12)

,Summons Number,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Violation Time,Violation County,House Number,Street Name,Intersecting Street,Vehicle Color,Address
0,1384762383,2017-06-27,21,SUBN,NISSA,0958A,K,4604,3rd ave,NaN,BLUE,4604 3rd ave Brooklyn NY
1,1380102145,2016-07-10,21,SUBN,NISSA,0756A,K,9513,3rd ave,NaN,PURPL,9513 3rd ave Brooklyn NY
2,-567462792,2015-09-21,74,4DSD,MASSA,0314P,K,7106,3rd ave,NaN,WH,7106 3rd ave Brooklyn NY
3,-575643208,2015-09-03,40,2DSD,ACURA,1211P,K,5002,3rd ave,NaN,BK,5002 3rd ave Brooklyn NY
4,-575643166,2015-09-03,40,SUBN,LEXUS,1242P,K,5012,3rd ave,NaN,GY,5012 3rd ave Brooklyn NY

A little over 40k unique addresses is more manageable, but I still don't want to run the whole thing through a geocoding API at once, in case one of the records throws an error or something goes wrong on the API end, so I break it down into chunks of 5000 addresses to be fed through the API.  I save these as separate CSVs in case I lose my Python kernel and need to start again somewhere in the middle.

In [181]:
for x in range(0,9):
    start = x * 5000
    end = ((x + 1) * 5000)-1
    subset = bk_adds[start:end]
    subset.to_csv('./data/uniques_'+str(x)+'.csv')

## Geocoding and Geofiltering
The state of New York provides a geocoding service that will return a latitude and longitude in a JSON wrapper for a given address with an http query.  I fed the unique addresses through the API and appended the coordinates in two separate columns, then rewrote the chunks back to CSVs.

In [ ]:
def ParsNYGeo(jBlob):
    try:
        if not jBlob['candidates']:
            data = None
        else:
            add = jBlob['candidates'][0]['address']
            y = jBlob['candidates'][0]['location']['y']
            x = jBlob['candidates'][0]['location']['x']
            data = (y,x)
        return data
    except KeyError:
        return None

def NYSGeo(Add):
    base = "http://gisservices.dhses.ny.gov/arcgis/rest/services/Locators/Street_and_Address_Composite/GeocodeServer/findAddressCandidates?SingleLine="
    wkid = "&maxLocations=1&outSR=4326"
    end = "&f=pjson"
    mid = Add.replace(' ','+')
    MyUrl = base + mid + wkid + end
    soup = urllib.request.urlopen(MyUrl)
    jsonRaw = soup.read()
    jsonData = json.loads(jsonRaw)
    MyDat = ParsNYGeo(jsonData)
    return MyDat

def call_geo(df):
    counter = 0
    for index, row in df.iterrows():
        if counter % 100 == 0:
            print(counter, "records processed out of", len(df))
        coord = NYSGeo(row['Address'])
        if coord is not None:
            df.loc[index, 'lat'] = coord[0]
            df.loc[index, 'lon'] = coord[1]
        counter += 1
    return df

for x in range(0,9):
    run = pd.read_csv('./data/uniques_'+str(x)+'.csv', index_col=0)
    print("Starting batch", x)
    run2 = call_geo(run)
    run2.to_csv('./data/uniques_'+str(x)+'.csv')

Now that the addresses have been geocoded, load them all back up and combine into a complete dataframe of geocoded addresses.

In [187]:
# Load the data fragments
dftemp0 = pd.read_csv('./data/uniques_0.csv', index_col=0)
dftemp1 = pd.read_csv('./data/uniques_1.csv', index_col=0)
dftemp2 = pd.read_csv('./data/uniques_2.csv', index_col=0)
dftemp3 = pd.read_csv('./data/uniques_3.csv', index_col=0)
dftemp4 = pd.read_csv('./data/uniques_4.csv', index_col=0)
dftemp5 = pd.read_csv('./data/uniques_5.csv', index_col=0)
dftemp6 = pd.read_csv('./data/uniques_6.csv', index_col=0)
dftemp7 = pd.read_csv('./data/uniques_7.csv', index_col=0)
dftemp8 = pd.read_csv('./data/uniques_8.csv', index_col=0)

# Merge into one dataframe
bk_coded_uniques = pd.DataFrame()
bk_coded_uniques = pd.concat([dftemp0, dftemp1, dftemp2, dftemp3, dftemp4, dftemp5, dftemp6, dftemp7, dftemp8]).reset_index()

# Drop records that did not return a set of coordinates
bk_coded_uniques = bk_coded_uniques[bk_coded_uniques.lat.notnull()]

print(bk_coded_uniques.shape)
bk_coded_uniques.head()

(38878, 15)

,index,Summons Number,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Violation Time,Violation County,House Number,Street Name,Intersecting Street,Vehicle Color,Address,lat,lon
0,630,8035369362,9/18/2015,78,VAN,FORD,0926P,K,1.00,dean st,NaN,WH,1 dean st Brooklyn NY,40.69,-73.99
1,25549,8273500871,2/26/2016,14,4DSD,LEXUS,1216P,K,1.00,court st,NaN,WH,1 court st Brooklyn NY,40.69,-73.99
2,117825,7553989009,12/14/2015,14,4DSD,LEXUS,0549P,K,1.00,st johns pl,NaN,TN,1 st johns pl Brooklyn NY,40.68,-73.97
3,142931,7418777760,11/25/2015,38,SUBN,CHRYS,0203P,K,1.00,flatbush ave,NaN,WH,1 flatbush ave Brooklyn NY,40.69,-73.98
4,172168,1400811302,10/22/2015,40,NaN,SEDAN,0740A,K,1.00,berkeley pl,NaN,GREY,1 berkeley pl Brooklyn NY,40.68,-73.98

Nearly 39k unique addresses that returned a set of coordinates. Now that I have the latitude and longitude, I need to figure out which addresses are in the target area of Brooklyn where Citibike installed their docks.  The City of New York's open data initiative has [published shapefiles](https://www1.nyc.gov/site/planning/data-maps/open-data/districts-download-metadata.page) of the various ways to subdivide the city geographically, including by Community Districts.  The target area exactly matches the boundaries of Community District 306.  Using Geopandas and Shapely, we can see whether a given point lies within the boundaries of CD306:

In [194]:
# Assign True/False to rows depending on whether they are in target area
target_map = gpd.read_file('./data/nycd_18a/nycd.shp')
target_map = target_map[(target_map.BoroCD == 306)]
target_map = target_map.to_crs({'proj': 'longlat', 'epsg':4326})
target_map = target_map.loc[31].geometry

def set_target(df, mp):
    for index, row in df.iterrows():
        point = shapely.geometry.Point(row['lon'], row['lat'])
        df.loc[index, 'target'] = 1 if point.within(mp) else 0

set_target(bk_coded_uniques, target_map)
bk_coded_uniques.head()

,index,Summons Number,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Violation Time,Violation County,House Number,Street Name,Intersecting Street,Vehicle Color,Address,lat,lon,target
0,630,8035369362,9/18/2015,78,VAN,FORD,0926P,K,1.00,dean st,NaN,WH,1 dean st Brooklyn NY,40.69,-73.99,0.00
1,25549,8273500871,2/26/2016,14,4DSD,LEXUS,1216P,K,1.00,court st,NaN,WH,1 court st Brooklyn NY,40.69,-73.99,0.00
2,117825,7553989009,12/14/2015,14,4DSD,LEXUS,0549P,K,1.00,st johns pl,NaN,TN,1 st johns pl Brooklyn NY,40.68,-73.97,1.00
3,142931,7418777760,11/25/2015,38,SUBN,CHRYS,0203P,K,1.00,flatbush ave,NaN,WH,1 flatbush ave Brooklyn NY,40.69,-73.98,0.00
4,172168,1400811302,10/22/2015,40,NaN,SEDAN,0740A,K,1.00,berkeley pl,NaN,GREY,1 berkeley pl Brooklyn NY,40.68,-73.98,1.00

With this set_target() function, I can also run a list of all the CitiBike docks that were installed in 2016, to get the subset of bikes within the target area.  This will be helpful later for mapping the data.

In [206]:
docks2016 = pd.read_csv('./data/new_stations.csv', index_col=0)
docks2016.rename(index=str, columns={'start station latitude': 'lat', 'start station longitude': 'lon'}, inplace=True)
set_target(docks2016, target_map)
docks2016 = docks2016[docks2016.target == 1.0]
docks2016.to_csv('./data/target_stations.csv')
print(docks2016.shape)
docks2016.head()

(67, 3)

      lat    lon  target
577 40.69 -74.00    1.00
579 40.68 -73.98    1.00
580 40.68 -73.98    1.00
581 40.68 -73.97    1.00
582 40.68 -73.98    1.00

# Merging back to the master ticket list
Now that I know which addresses are where, I need to merge this data back to the master list of ~750k tickets on the *Address* field, assigning the new geodata to each matching address.

In [191]:
bk_master = pd.read_csv('./data/target_streets.csv', index_col=0)
bk_master_coded = pd.merge(bk_master, bk_coded_uniques[['lat', 'lon', 'target', 'Address']], on='Address', how='left')
print(bk_master_coded.shape)
bk_master_coded.head()

(746619, 15)

,Summons Number,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Violation Time,Violation County,House Number,Street Name,Intersecting Street,Vehicle Color,Address,lat,lon,target
0,1384762383,2017-06-27,21,SUBN,NISSA,0958A,K,4604,3rd ave,NaN,BLUE,4604 3rd ave Brooklyn NY,40.65,-74.01,0.00
1,1380102145,2016-07-10,21,SUBN,NISSA,0756A,K,9513,3rd ave,NaN,PURPL,9513 3rd ave Brooklyn NY,40.62,-74.03,0.00
2,-567462792,2015-09-21,74,4DSD,MASSA,0314P,K,7106,3rd ave,NaN,WH,7106 3rd ave Brooklyn NY,40.63,-74.03,0.00
3,-575643208,2015-09-03,40,2DSD,ACURA,1211P,K,5002,3rd ave,NaN,BK,5002 3rd ave Brooklyn NY,40.65,-74.01,0.00
4,-575643166,2015-09-03,40,SUBN,LEXUS,1242P,K,5012,3rd ave,NaN,GY,5012 3rd ave Brooklyn NY,40.65,-74.02,0.00

It's a little concerning that none of the addresses at the top show a "1" in the target column, but a quick check on Google maps shows that area of 3rd ave to be too far south.  What happens if we just filter out all the zeros?

In [192]:
bk_master_tix = bk_master_coded[bk_master_coded.target == 1.0]
print(bk_master_tix.shape)
bk_master_tix.head()

(252914, 15)

,Summons Number,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Violation Time,Violation County,House Number,Street Name,Intersecting Street,Vehicle Color,Address,lat,lon,target
80,-566593356,2015-09-21,14,4DSD,TOYOT,0448P,K,456,3rd ave,NaN,GY,456 3rd ave Brooklyn NY,40.67,-73.99,1.00
108,-565967442,2015-09-04,19,SUBN,TOYOT,0237P,K,400,3rd ave,NaN,SILVE,400 3rd ave Brooklyn NY,40.67,-73.99,1.00
172,-553231086,2015-09-17,21,4DSD,SAAB,0954A,K,410,3rd ave,NaN,GY,410 3rd ave Brooklyn NY,40.67,-73.99,1.00
173,-552783451,2015-09-02,16,4DSD,LINCO,0335P,K,383,3rd ave,NaN,GREEN,383 3rd ave Brooklyn NY,40.67,-73.99,1.00
234,-553473160,2015-09-14,53,4DSD,AUDI,1156A,K,313,3rd ave,NaN,GY,313 3rd ave Brooklyn NY,40.68,-73.99,1.00

At last!  A quarter million parking tickets over two years that we know were in the target area of Brooklyn.  Now we can finally start looking at this subset of data.

# Target Area Analysis
So now we have a set of tickets for one year on either side of a neighborhood dock installation.  The first question is simply:  were there fewer tickets after the docks were installed?

In [3]:
# For reloading in case of restarting kernel
bk_master_tix = pd.read_csv('./data/master_target_list.csv', index_col=0)
bk_master_tix.rename(index=str, columns={"Issue Date.1":"Issue Date"}, inplace=True)
bk_master_tix['Issue Date'] = bk_master_tix['Issue Date'].astype('datetime64[D]')
print(bk_master_tix.shape)
bk_master_tix.head()

(252914, 15)

,Summons Number,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Violation Time,Violation County,House Number,Street Name,Intersecting Street,Vehicle Color,Address,lat,lon,target
Issue Date,,,,,,,,,,,,,,,
2015-09-21,-566593356,2015-09-21,14,4DSD,TOYOT,0448P,K,456,3rd ave,NaN,GY,456 3rd ave Brooklyn NY,40.67,-73.99,1.00
2015-09-04,-565967442,2015-09-04,19,SUBN,TOYOT,0237P,K,400,3rd ave,NaN,SILVE,400 3rd ave Brooklyn NY,40.67,-73.99,1.00
2015-09-17,-553231086,2015-09-17,21,4DSD,SAAB,0954A,K,410,3rd ave,NaN,GY,410 3rd ave Brooklyn NY,40.67,-73.99,1.00
2015-09-02,-552783451,2015-09-02,16,4DSD,LINCO,0335P,K,383,3rd ave,NaN,GREEN,383 3rd ave Brooklyn NY,40.67,-73.99,1.00
2015-09-14,-553473160,2015-09-14,53,4DSD,AUDI,1156A,K,313,3rd ave,NaN,GY,313 3rd ave Brooklyn NY,40.68,-73.99,1.00

In [4]:
bk_master_tix.lat.value_counts()

40.67    2383
40.67    1928
40.67     704
40.69     695
40.69     604
40.69     592
40.67     548
40.67     545
40.67     510
40.67     506
40.67     484
40.69     481
40.67     477
40.67     476
40.67     475
40.69     458
40.67     458
40.67     456
40.67     452
40.67     449
40.68     419
40.67     419
40.68     410
40.68     408
40.69     401
40.68     399
40.67     376
40.67     376
40.67     374
40.67     372
         ...
40.69       1
40.67       1
40.68       1
40.67       1
40.68       1
40.68       1
40.67       1
40.68       1
40.68       1
40.68       1
40.67       1
40.67       1
40.67       1
40.67       1
40.67       1
40.68       1
40.68       1
40.68       1
40.68       1
40.69       1
40.68       1
40.68       1
40.69       1
40.68       1
40.69       1
40.68       1
40.68       1
40.68       1
40.68       1
40.68       1
Name: lat, Length: 15706, dtype: int64

In [6]:
tix_before = bk_master_tix.loc[bk_master_tix['Issue Date'] <= datetime.datetime(2016, 8, 31)]
tix_after = bk_master_tix.loc[bk_master_tix['Issue Date'] >= datetime.datetime(2016, 9, 1)]
print("Tickets before installation:",tix_before.shape)
print("Tickets after installation:",tix_after.shape)

Tickets before installation: (128209, 15)
Tickets after installation: (124705, 15)

In [9]:
tix_before.lat.value_counts()

40.67    1252
40.67     764
40.67     412
40.69     396
40.69     346
40.67     328
40.67     297
40.68     292
40.69     289
40.67     285
40.67     270
40.67     269
40.67     265
40.69     260
40.67     254
40.67     249
40.68     248
40.69     247
40.67     244
40.67     234
40.67     234
40.67     234
40.67     230
40.68     221
40.67     218
40.67     216
40.67     214
40.67     211
40.67     210
40.67     205
         ...
40.69       1
40.67       1
40.67       1
40.68       1
40.66       1
40.67       1
40.68       1
40.67       1
40.66       1
40.66       1
40.67       1
40.69       1
40.69       1
40.69       1
40.68       1
40.69       1
40.69       1
40.67       1
40.68       1
40.67       1
40.68       1
40.68       1
40.67       1
40.67       1
40.68       1
40.66       1
40.68       1
40.67       1
40.68       1
40.69       1
Name: lat, Length: 13329, dtype: int64

~3500 fewer tickets, which is only a 3% reduction.  Not very impressive.  What if we look at number of tickets per week, to get a better idea of the pattern of parking offenses?

In [31]:
bk_master_tix.set_index(bk_master_tix['Issue Date'], inplace = True)
weekly = bk_master_tix['target'].resample('W').count().to_frame()
#print(weekly.index)
tixline = go.Scatter(
       x = weekly.index, 
       y = weekly['target'],
       mode = 'line',
       name = 'Tickets by Qty')
data = [tixline]
layout = {
    'title': 'Parking Tickets per Week in Brooklyn CD306',
    'plot_bgcolor': '#F2F4F4',
    'xaxis': {'title': 'Date', 'range': ['2015-08-30','2017-09-05'], 'showgrid': True},
    'yaxis': {'title': 'Tickets per Week', 'range': [1200,4000], 'showgrid': True},
    'shapes': [{'type':'rect', 'xref': 'x', 'yref': 'paper', 'x0':'2016-08-18', 'y0':0, 'x1':'2016-08-21', 'y1': 1,
               'fillcolor': '#BD5C48', 'opacity': 0.5, 'line': {'width': 0},},],
    'annotations': [{'x': '2016-10-07', 'y':3700, 'showarrow': False, 'text': 'Dock Installation', 
                     'align': 'left', 'xref': 'x', 'yref':'y'}]
}
fig = {'data': data, 'layout': layout,}
py.iplot(fig, filename='BK_Parking_Tickets')

Apart from the relatively quiet period in the summer of 2016, it looks like the pace of tickets in 2016 was generally higher than 2017.  You can also see the effect of a harsher winter in 2017, when snowstorms caused the pace of ticketing to drop for one week in 2016 but multiple times in 2017 (generally the police are more lenient about residential parking violations when the cars are buried under snow).  It is curious that ticketing dropped in summer of 2016 while that doesn't appear to have happened in 2015 or 2017.

What about the type of parking violations, before vs after?  Let's look at the violation codes for each period.

In [40]:
codes = {21: "Street Cleaning", 38: "No Meter Receipt", 37: "Expired Meter", 71: "No Inspection Sticker", 
         20: "General No Parking", 40: "Fire Hydrant", 46: "Double Parking", 14: "No Standing", 
         70: "No Registration", 19: "Bus Stop"}

violations_before = tix_before['Violation Code'].value_counts().nlargest(10)
violations_after = tix_after['Violation Code'].value_counts().nlargest(10)
codes_before = [codes[x] for x in violations_before.index]
codes_after = [codes[x] for x in violations_after.index]
group1 = go.Bar(
         x = codes_before,
         y = violations_before.values,
         name = 'Pre-installation')
group2 = go.Bar(
         x = codes_after,
         y = violations_after.values,
         name = 'Post-installation')
data = [group1, group2]
layout = {
    'title': 'Top 10 Parking Violations',
    'xaxis': {'title':'Violation'},
    'yaxis': {'title': 'Number of Tickets'},
    'barmode': 'group', 'xaxis':{'tickangle':-45}}
fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='Top 10 Parking Violations')

A few more street cleaning and sticker violations, but remarkably fewer meter violations - likely a result of fewer metered parking spots where docks displaced street parking.  This begs the question:  did installing these docks change the city's income from parking violations in this area?  Fortunately, NYC [publishes all of its parking violation codes with their respective fines](http://www1.nyc.gov/site/finance/vehicles/services-violation-codes.page), and we can use pandas to quickly get this information and get total parking ticket revenue for each period.

In [24]:
# Download the codes and fines, which come as 5 separate tables
nyc_codes = pd.read_html('http://www1.nyc.gov/site/finance/vehicles/services-violation-codes.page', index_col=0, header=0,
                        converters = {'All Other Areas': lambda x: x[1:]})
# Merge the files
nyc_codes = pd.concat(nyc_codes)
# Drop the irrelevant Manhattan column
nyc_codes.drop(['Manhattan96th St. & below'], axis=1, inplace=True)
# Change the fines to a numeric value
nyc_codes['All Other Areas'] = pd.to_numeric(nyc_codes['All Other Areas'], errors='coerce')
nyc_codes.fillna(0, inplace=True)
nyc_codes.rename(columns={'All Other Areas':'fine'}, inplace=True)
# One row has a double index (37-38) for similar violations and needs to be split in two
split_row = nyc_codes.loc['37-38']
split_row.rename('37', inplace=True)
nyc_codes = nyc_codes.append(split_row)
split_row.rename('38', inplace=True)
nyc_codes = nyc_codes.append(split_row)
nyc_codes.drop(['37-38'], inplace=True)
# Set index values to be integers
nyc_codes.index = nyc_codes.index.astype('int64')
nyc_codes.head()

                                             DEFINITION   fine
CODE
1     Failure of an intercity bus to prominently dis... 515.00
2     Failure of an intercity bus to properly displa... 515.00
3     Intercity bus unauthorized passenger pickup or... 515.00
4     Vehicles parked illegally south of Houston Str...   0.00
5         Failure to make a right turn from a bus lane. 115.00

In [13]:
def rev_summer(df):
    revenue = 0
    for index, row in df.iterrows():
        try:
            revenue += nyc_codes.loc[row['Violation Code'], 'fine']
        except KeyError:
            pass
    return revenue
rev2016 = rev_summer(tix_before)
rev2017 = rev_summer(tix_after)
diff = rev2017-rev2016

print("2016 Revenue:", '${:,.2f}'.format(rev2016))
print("2017 Revenue:", '${:,.2f}'.format(rev2017))
print("Difference:", '${:,.2f}'.format(diff),"or","{0:.2f}%".format(100*(diff/rev2016)))

2016 Revenue: $7,516,395.00
2017 Revenue: $7,551,640.00
Difference: $35,245.00 or 0.47%

So, no.  Revenue went **up** \$35k after dock installation despite 3% fewer tickets, but that's just about half a percentage point difference.

But just as we saw some interesting patterns when we broke out the tickets by volume by week, let's see what that looks like by revenue.  We can overlay the revenue line on top of the quantity line in the graph above, for more ready comparison.

In [25]:
# Add a fine column to the master ticket dataframe
nyc_codes.reset_index(inplace=True)
nyc_codes.rename(index=str, columns={"CODE":"Violation Code"}, inplace=True)
bk_master_tix = pd.merge(bk_master_tix, nyc_codes[['Violation Code', 'fine']], on='Violation Code', how='left')
print(bk_master_tix.shape)
bk_master_tix.head()

(252914, 16)

,Summons Number,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Violation Time,Violation County,House Number,Street Name,Intersecting Street,Vehicle Color,Address,lat,lon,target,fine
0,-566593356,2015-09-21,14,4DSD,TOYOT,0448P,K,456,3rd ave,NaN,GY,456 3rd ave Brooklyn NY,40.67,-73.99,1.00,115.00
1,-565967442,2015-09-04,19,SUBN,TOYOT,0237P,K,400,3rd ave,NaN,SILVE,400 3rd ave Brooklyn NY,40.67,-73.99,1.00,115.00
2,-553231086,2015-09-17,21,4DSD,SAAB,0954A,K,410,3rd ave,NaN,GY,410 3rd ave Brooklyn NY,40.67,-73.99,1.00,45.00
3,-552783451,2015-09-02,16,4DSD,LINCO,0335P,K,383,3rd ave,NaN,GREEN,383 3rd ave Brooklyn NY,40.67,-73.99,1.00,95.00
4,-553473160,2015-09-14,53,4DSD,AUDI,1156A,K,313,3rd ave,NaN,GY,313 3rd ave Brooklyn NY,40.68,-73.99,1.00,115.00

In [39]:
bk_master_tix.set_index(bk_master_tix['Issue Date'], inplace = True)
weekly2 = bk_master_tix['fine'].resample('W').sum().to_frame()
tixline2 = go.Scatter(
       x = weekly2.index, 
       y = weekly2['fine'],
       mode = 'line',
       yaxis = 'y2',
       name = 'Tickets by Revenue')
data2 = [tixline, tixline2]
layout2 = {
    'title': 'Parking Tickets by Quantity and Total Revenue',
    'plot_bgcolor': '#F2F4F4',
    'xaxis': {'title': 'Date', 'range': ['2015-08-30','2017-09-05'], 'showgrid': True},
    'yaxis': {'title': 'Tickets per Week', 'range': [1200,4000], 'showgrid': True},
    'yaxis2': {'title': 'Ticket Revenue per Week', 'range': [70000,250000], 'showgrid': False,
               'titlefont': {'color':'#D63512'}, 'overlaying':'y', 'side':'right'},
    
    'shapes': [{'type':'rect', 'xref': 'x', 'yref': 'paper', 'x0':'2016-08-18', 'y0':0, 'x1':'2016-08-21', 'y1': 1,
               'fillcolor': '#BD5C48', 'opacity': 0.5, 'line': {'width': 0},},],
    'annotations': [{'x': '2016-10-07', 'y':3700, 'showarrow': False, 'text': 'Dock Installation', 
                     'align': 'left', 'xref': 'x', 'yref':'y'}]
}
fig = {'data': data2, 'layout': layout2,}
py.iplot(fig, filename='BK_Parking_Tickets_multiaxis')

The graphs look nearly identical, indicating that the mix of tickets (as defined by fine amount) remained largely consistent over the two years, or at least didn't shift between high tickets and low tickets.  Given the bulk of tickets goes to minor offenses like street cleaning, that's not surprising.

Just out of curiosity, what about incidental characteristics like vehicle color, make and model?  We wouldn't expect to see a meaningful change in these, but since we have the data, might as well look:

In [50]:
colors = {"GY": "Grey", "GREY": "Grey", "BK": "Black", "BLACK": "Black", "WH": "White", "WHITE": "White", 
         "SILVE": "Silver", "BLUE": "Blue", "RD": "Red", "RED": "Red", "GR": "Green", "GREEN": "Green",
         "TN": "Tan", "TAN": "Tan", "GRAY": "Grey", "BROWN": "Brown", "BN": "Brown", "BL": "Black", 
         "BR": "Brown", "OTHER": "Other", "GL": "Other", "BLK": "Black"}
violations_before = tix_before['Vehicle Color'].value_counts().nlargest(20)
violations_after = tix_after['Vehicle Color'].value_counts().nlargest(20)
colors_before = [colors[x] for x in violations_before.index][:15]
colors_after = [colors[x] for x in violations_after.index][:15]
group1 = go.Bar(
         x = colors_before,
         y = violations_before.values,
         name = 'Pre-installation')
group2 = go.Bar(
         x = colors_after,
         y = violations_after.values,
         name = 'Post-installation')
data = [group1, group2]
layout = {
    'title': 'Top Vehicle Colors',
    'xaxis': {'title':'Color'},
    'yaxis': {'title': 'Number of Tickets'},
    'width': 500,
    'height': 300,
    'barmode': 'group', 'xaxis':{'tickangle':-45}}
fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='Violations by Vehicle Color')

In [49]:
makes = {"TOYOT": "Toyota", "HONDA": "Honda", "FORD": "Ford", "NISSA": "Nissan", "CHEVR": "Chevrolet", "SUBAR": "Subaru", 
         "VOLKS": "Volkswagen", "BMW": "BMW", "JEEP": "Jeep", "ME/BE": "Mercedes-Benz"}
violations_before = tix_before['Vehicle Make'].value_counts().nlargest(10)
violations_after = tix_after['Vehicle Make'].value_counts().nlargest(10)
makes_before = [makes[x] for x in violations_before.index]
makes_after = [makes[x] for x in violations_after.index]
group1 = go.Bar(
         x = makes_before,
         y = violations_before.values,
         name = 'Pre-installation')
group2 = go.Bar(
         x = makes_after,
         y = violations_after.values,
         name = 'Post-installation')
data = [group1, group2]
layout = {
    'title': 'Top 10 Ticketed Vehicle Makes',
    'xaxis': {'title':'Vechile Make'},
    'width': 500,
    'height': 300,
    'yaxis': {'title': 'Number of Tickets'},
    'barmode': 'group', 'xaxis':{'tickangle':-45}}
fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='Top 10 Ticketed Vehicle Makes')

In [48]:
bodies = {"SUBN": "Suburban", "4DSD": "4-Door Sedan", "VAN": "Van", "SDN": "Sedan", "2DSD": "2-Door Sedan", 
          "DELV": "Delivery", "PICK": "Pickup", "CONV": "Convertible", "UTIL": "Utility", "P-U": "Pickup",
          "MCY": "Motorcycle"}
violations_before = tix_before['Vehicle Body Type'].value_counts().nlargest(10)
violations_after = tix_after['Vehicle Body Type'].value_counts().nlargest(10)
bodies_before = [bodies[x] for x in violations_before.index]
bodies_after = [bodies[x] for x in violations_after.index]
group1 = go.Bar(
         x = bodies_before,
         y = violations_before.values,
         name = 'Pre-installation')
group2 = go.Bar(
         x = bodies_after,
         y = violations_after.values,
         name = 'Post-installation')
data = [group1, group2]
layout = {
    'title': 'Top 10 Ticketed Vehicle Body Types',
    'xaxis': {'title':'Body Type'},
    'yaxis': {'title': 'Number of Tickets'},
    'width': 500,
    'height': 300,
    'barmode': 'group', 'xaxis':{'tickangle':-45}}
fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='Top 10 Ticketed Vehicle Body Types')

As expected, no dramatic differences in these variables from one year to the next.

What about geographic distribution of the parking violations?  For this, we need a heatmap comparing where the most parking violations occurred before and after the bike dock installation.

In [38]:
stations = pd.read_csv('./data/target_stations.csv', index_col=0)

###### import gmaps
gmaps.configure(api_key='AIzaSyBjwDsDBV8f9XisRmi_QFgClC_qZ40jW4s') # Your Google API key
locations2016 = zip(tix_before.lat, tix_before.lon)
station_locations = zip(stations.lat, stations.lon)
fig = gmaps.figure(center=(40.678854,-73.992414), zoom_level=13)
station_layer = gmaps.symbol_layer(list(station_locations), fill_color="black", scale=1)
fig.add_layer(gmaps.heatmap_layer(list(locations2016)))
fig.add_layer(station_layer)
fig

In [41]:
import gmaps
gmaps.configure(api_key='AIzaSyBjwDsDBV8f9XisRmi_QFgClC_qZ40jW4s') # Your Google API key
locations2017 = zip(tix_after.lat, tix_after.lon)
station_locations = zip(stations.lat, stations.lon)
fig = gmaps.figure(center=(40.678854,-73.992414), zoom_level=13)
station_layer = gmaps.symbol_layer(list(station_locations), fill_color="black", scale=1)
fig.add_layer(gmaps.heatmap_layer(list(locations2017)))
fig.add_layer(station_layer)
fig

A Jupyter Widget